
 # From dev.twitch.tv console
TWITCH_CLIENT_ID=         
TWITCH_CLIENT_SECRET=    

 # Generated via: npm run token:main
MAIN_OAUTH_TOKEN= 
MAIN_REFRESH_TOKEN=
MAIN_USERNAME=

# Generated via: npm run token:bot
BOT_OAUTH_TOKEN=     
BOT_REFRESH_TOKEN=
BOT_USERNAME=

# From console.anthropic.com
ANTHROPIC_API_KEY=  

# main channel
CHANNEL=neogrit

#database details
DB_HOST=localhost
DB_PORT=5432
DB_NAME=neostream_v3
DB_USER=
DB_PASSWORD=

#ports
API_PORT=3500
WS_PORT=3501

# Alert threshold in USD
CLAUDE_DAILY_SPEND_LIMIT=5.00

# DB flood protection
MAX_NEW_VIEWERS_PER_SESSION=100  
